<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMTkwM2JlMmI4ODEwNjc4MzVjMzlmYTZmODk5MGE5NSIsIm5iZiI6MTc0NjI2NDE0OC42OTgsInN1YiI6IjY4MTVlMDU0YzM0ZDE4Y2FlYzkxMmU3YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.I3S7yVP4rGi9bmCuUheVvpxa5bpq0_W6_BhqkdiG0yI</string>
</dict>
</plist>
